## Steam parameters:
SRCDS_TOKEN="YOUR_SRCDS_TOKEN"
STEAMAPPVALIDATE="0"

## Script defaults:
DEBUG="false"
GAME_DIR="/data/disk2/opt/CS2"
DOCKER_IMAGE="docker.io/joedwards32/cs2:latest"
METAMOD_URL="https://mms.alliedmods.net/mmsdrop/2.0/mmsource-2.0.0-git1282-linux.tar.gz"
CSSHARP_URL="https://github.com/roflmuffin/CounterStrikeSharp/releases/download/v179/counterstrikesharp-with-runtime-build-179-linux-12485be.zip"
CSSHARP_PLUGINS=(
    "https://github.com/Hackmastr/css-basic-admin/releases/download/0996878/css-BasicAdmin-0996878.zip"
    "https://github.com/LordFetznschaedl/CS2Rcon/releases/download/1.2.0/CS2Rcon-1.2.0.zip"
)
LOCAL_OS_USER="bateau"
CONTAINER_TOOL="podman"
INSTALL_METAMOD="1"
INSTALL_CSSHARP="1"
INSTALL_CSSHARP_PLUGINS="1"
CONTAINER_EXTRA_ARGS="--restart=unless-stopped -v /dev/dri:/dev/dri:ro"

## CS2 parameters
CS2_SERVERNAME='SeaShell Dedicated CS2 Server'
CS2_CHEATS="0"
CS2_IP="0.0.0.0"
CS2_SERVER_HIBERNATE="0"
CS2_PORT="27015"
CS2_RCON_PORT="27017"
CS2_MAXPLAYERS="12"
CS2_RCONPW='Enter!ss'
CS2_PW=""
CS2_MAPGROUP="mg_active"
CS2_STARTMAP="de_mirage"
CS2_GAMEALIAS="casual"
CS2_GAMETYPE="0"
CS2_GAMEMODE="0"
CS2_LAN="0"
TV_AUTORECORD="0"
CS2_CFG_URL='https://github.com/joedwards32/CS2/blob/main/examples/cs2.cfg.tgz'
